<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="template.css">
    <title>fatemeh</title>
</head>

<body>
    <div id="up-part" class="up-part">
            <span class="empty-span" style="float: left;width: 10%;"></span>
            <span class="top-icons" id="shapley-demo">Shapely Demo</span>
            <span class="top-icons"> HOME</span>
            <span class="top-icons"> BLOG</span>
            <span class="top-icons"> PORTFOLIO</span>
            <span class="top-icons" id="large-span"> ABOUTTHETESTS <span style="-webkit-transform: rotate(270deg); vertical-align: middle;text-align:center;width: 20px;height: 17px;">&#10092;</span></span>
            <span class="top-icons"> LEVEL1 <span style="   -webkit-transform: rotate(270deg); align-items: right;width: 20px;">&#10092;</span></span>
            <span class="top-icons"> SHOP <span style="   -webkit-transform: rotate(270deg); align-items: right;width: 20px;">&#10092;</span></span>
            <span class="top-icons" id="serach-icon">&#8981;</span>
    </div>
   <div   id="seccond-part" class="seccond-part" background="a.jpg">
       <div class="empty"></div>
     
       <div class='wordpress-big-message'>
           We Chagne Everything WordPress
       </div>
       <div class='wordpress-small-message'> This is the only WordPress theme you will ever want to use.</div>
       <div class="buttons">
           <span class="emptyspan"></span>
           <span class="readmore-button">
               Read More
           </span>
           <span class="downloadnow-button">
               Download Now
             
           </span>
       </div>
   </div>
</body>
</html>