html,body{
    height: 100%;
    width: 100%;
}
.up-part { 
    text-align: center;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
input {
    text-align: left;
    color: black;
    width: 50%;
    height: 5%;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.addbutton {
    padding: 0.75%;
    background-color: rgb(124, 218, 218);
    color: black;
    text-align: center;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul li {
    width: 87%;
    height: 10%;
    text-align: left;
    color:rgb(11, 11, 17);
    font-size: 20px; 
    border-style: solid;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ul li:hover {
    background-color: cornflowerblue;
}



